.advert-link:hover {
  text-decoration: none;
}

.card:hover {
  background-color: #f4f4f4;
}

.sidebar {
  display: table-cell;
  width: 15%;
  vertical-align: top;
}

.container {
  margin: auto;
  padding-top: 30px;
  width: 85%;
}

.header-btn a {
  margin: 0 10px;
}

.advert-box {
  margin-right: 10%;
}
