<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <a class="sidebar-brand-text mx-5 mx-5-l" href="/"> Catalog.by</a>
</nav>

<div *ngIf="advert">
  <div class="col-xl-8 advert">
    <div class="card shadow mb-4">

      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">{{ advert.title }}</h5>
      </div>

      <div class="card-body">
        <p> Цена - {{ advert.price }} р.</p>
        <p>
          {{ advert.description }}
        </p>
        <a href="/profile/{{advert.userId}}">
          Продавец
        </a>
      </div>

    </div>
  </div>


  <div class="col-xl-8 comment-box">
    <div class="card shadow mb-4">

      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Комментарии</h6>
      </div>

      <div *ngFor="let comment of advert.comments">
        <h6 class="comment">
          {{ comment.text }}
        </h6>

      </div>
    </div>
  </div>

  <div class="mb-4 col-xl-8 add-box">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">

            <form id="sendForm" (submit)="addComment($event)">

              <div class="form-group">
                <input name="comment" type="text" class="form-control form-control-user" id="comment"
                       placeholder="Текст...">
              </div>

              <input id="input" type="submit" class="btn btn-success" value="Добавить">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Catalog.by 2019</span>
    </div>
  </div>
</footer>
