<configuration>

    <property name="LOG_FILE" value="log/category.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <totalSizeCap>50MB</totalSizeCap>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} - %m%n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="CONSOLE"/>
    </root>

    <root level="error">
        <appender-ref ref="FILE"/>
    </root>

</configuration>