<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <a class="sidebar-brand-text mx-5 mx-5-l" href="/"> Catalog.by</a>
</nav>

  <div class="col-xl-8 profile">
    <div class="card shadow mb-4">

      <form (submit)="logout()">
        <input type="submit" class="btn btn-success logout" value="Выйти">
      </form>

    </div>
  </div>

<router-outlet></router-outlet>

<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Catalog.by 2019</span>
    </div>
  </div>
</footer>
