<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <a class="sidebar-brand-text mx-5 mx-5-l" href="/"> Catalog.by</a>
</nav>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <h3 class="text"> Error </h3>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Catalog.by 2019</span>
    </div>
  </div>
</footer>
