<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <a class="sidebar-brand-text mx-5 mx-5-l" href="/"> Catalog.by</a>
</nav>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-gradient-primary"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4"> Войти </h1>
                </div>
                <form class="user" (submit)="authorize($event)">

                  <div class="form-group">
                    <input name="login" type="login" class="form-control form-control-user" id="login"
                           placeholder="Логин">
                  </div>
                  <div class="form-group">
                    <input name="password" type="password" class="form-control form-control-user" id="password"
                           placeholder="Пароль">
                  </div>

                  <input type="submit" class="btn btn-success" value="Войти">

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Catalog.by 2019</span>
    </div>
  </div>
</footer>
