.advert {
  margin: 200px auto 20px;
}

.comment-box {
  padding: 10px;
  margin: auto;
}

.comment {
  padding: 10px;
}

.price-input {
  margin-bottom: 20px;
}

.btn-advert {
  margin: 20px auto 0;
  text-align: center;
}
