<div>

            <div class="col-xl-10" *ngIf="advert">
              <div class="card shadow mb-4">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{ advert.title }}  {{ advert.price }}</h6>
                </div>

                <!-- Card Body -->
                <div class="card-body">

                 <p>
                   {{ advert.description }}
                 </p>
                 <p *ngFor="let comment of advert.comments">
                     {{ comment.text }}
                 </p>

                </div>
              </div>
            </div>
          </div>


<router-outlet></router-outlet>
