.advert-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.category-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #b6c1be !important;
}

.card:hover {
  background-color: #f4f4f4;
}

.main {
  display: table;
  width: 100%;
  height: 100%;
}

.sidebar {
  display: table-cell;
  width: 15%;
  vertical-align: top;
}

.container {
  display: table-cell;
  padding-top: 30px;
  width: 85%;
}

.header-btn a {
  margin: 0 10px;
}

.advert-box {
  margin-right: 10%;
}

.type-selector {
  width: 300px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;

  background: #4e73df;
  border-radius: 10px;
}

.type-link {
  display: inline;
}

.type-selector a{
  color: white;
}

.type-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #b6c1be !important;
}
