.container {
  margin-top: 30px;
}

.pos-r {
  text-align: right;
}

.pos-l {
  text-align: left;
}

.pos-c {
  text-align: center;
}

.line {
  width: 100%;
  height: 1px;
  background: #d8d8d8;
}

.message {
  margin-top: 15px;
}
