<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <a class="sidebar-brand-text mx-5 mx-5-l" href="/"> Catalog.by</a>
</nav>

<div class="container">
  <div class="mb-4 advert-box">
    <div class="card shadow h-100 py-2">
      <div class="card-body">
        <h4 class="pos-c"> {{ chat.title }} </h4>
        <div class="line"></div>
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-normal-bold text-primary mb-1" *ngFor="let msg of chat.messages">
              <div class="pos-l message"> {{ msg.userId }} - {{ msg.text }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4 advert-box">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">

            <form id="sendForm" (submit)="send($event)">

              <div class="form-group">
                <input name="message" type="text" class="form-control form-control-user" id="message"
                       placeholder="Текст...">
              </div>

              <input id="input" type="submit" class="btn btn-success" value="Отправить">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Catalog.by 2019</span>
    </div>
  </div>
</footer>
